USE [LatihanSoal]
GO
/****** Object:  Table [dbo].[MsProduct]    Script Date: 02/03/2022 13.25.26 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[MsProduct]') AND type in (N'U'))
DROP TABLE [dbo].[MsProduct]
GO
/****** Object:  Table [dbo].[MsPelanggan]    Script Date: 02/03/2022 13.25.26 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[MsPelanggan]') AND type in (N'U'))
DROP TABLE [dbo].[MsPelanggan]
GO
USE [master]
GO
/****** Object:  Database [LatihanSoal]    Script Date: 02/03/2022 13.25.26 ******/
DROP DATABASE [LatihanSoal]
GO
/****** Object:  Database [LatihanSoal]    Script Date: 02/03/2022 13.25.26 ******/
CREATE DATABASE [LatihanSoal]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'LatihanSoal', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\LatihanSoal.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'LatihanSoal_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\LatihanSoal_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [LatihanSoal].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [LatihanSoal]
GO
/****** Object:  Table [dbo].[MsPelanggan]    Script Date: 02/03/2022 13.25.27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MsPelanggan](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nama] [nvarchar](150) NULL,
	[Alamat] [nvarchar](350) NULL,
	[NoTelp] [nvarchar](150) NULL,
 CONSTRAINT [PK_MsPelanggan] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MsProduct]    Script Date: 02/03/2022 13.25.27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MsProduct](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nama] [nvarchar](150) NULL,
	[Harga] [numeric](18, 0) NULL,
	[Deskripsi] [nvarchar](350) NULL,
 CONSTRAINT [PK_MsProduct] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
